<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi@400,700&display=swap">
    <title>Chronos</title>
</head>
<body class="home-page">
    <h1 class="start-page" id="Chronos">
        Chronos
    </h1>
    <h2 class="start-page" id="slogan">Keeping you connected to your past.</h2>
    <div class="container">
        <button id="explore-button">Explore</button>
    </div>
    <div id="dot"></div>
    <div id="rectangle-bar">
        <div id="bar-text" onclick="location.reload()">Chronos</div>
        <button id="login-button">Log In</button>
    </div>
    <div id="main-text" class="main-text">
        <img src="templates/chronos.jpg">
        <h2>Remember Who You Were</h2>
        <h3>And How Far You've Come</h3>
    </div>
    <script src="static/script.js"></script>
</body>
</html>