<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
<body class="login-page">
    <div id="rectangle-bar">
        <div id="bar-text" onclick="location.reload()">Chronos</div>
    </div>
    <div id="login-container" class="login-container">
        <h1>Log In</h1>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
        </form>
    </div>
    <script src="static/login.js"></script>
</body>
</html>
