@font-face {
    font-family: "Satoshi";
    src: url('fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: bolder; /* Define the normal weight here */
    font-style: normal;  /* Define the normal style here */
}

body {
    font-family: "Satoshi", sans-serif;
    background-color: #1f1f1f;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

.start-page{
    color: #e0e0e0;
}

#Chronos{
    text-align: center;
    position: relative;
    margin-top: 15%;
    font-size: 10em;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slogan{
    opacity: 0;
    margin-top: -7%;
    text-align: center;
    position: relative;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
}

#test{
    text-align: center;
    color: #e0e0e0;
    position: relative;
    margin-top: 50%;
}

.container{
    display: flex; /* Enables CSS flexbox */
    justify-content: center;
    margin-top: 25px;
}

#explore-button {
    display: block;
    padding: 15px 30px;
    font-size: 2em;
    font-family: "Satoshi";
    font-weight: bolder;
    color: #1f1f1f;
    background-color: #e0e0e0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    transition: opacity 1s ease, background-color 0.2s ease, color 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

#explore-button.active-button {
    opacity: 1; /* Make visible */
    pointer-events: auto; /* Enable interactions */
}

#explore-button:hover {
    background-color: #1f1f1f;
    color: #e0e0e0;
}


@keyframes slideUp {
    from {
        transform: translate(-50%, 100%); /* Start below the screen */
    }
    to {
        transform: translate(-50%, -70%); /* Move it far enough to fully cover */
    }
}

#dot {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%); /* Initial position below the screen */
    height: 2000px;
    width: 2000px;
    background-color: #e0e0e0;
    border-radius: 50%;
    z-index: 1; /* Ensure it covers content */
    overflow: hidden;
}

.dot-active {
    animation: slideUp 2s forwards ease-in-out; /* Slow down the animation */
}

#rectangle-bar {
    position: fixed;
    top: 0px; /* Adjust as needed */
    left: 0;
    width: 0; /* Start with no width */
    height: 70px;
    background-color: #1f1f1f;
    z-index: 2; /* Ensure it appears above other elements */
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

@keyframes slideInFromLeft {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100vw; /* Expand to full width */
        opacity: 1;
    }
}

.rectangle-bar-active {
    animation: slideInFromLeft 1s forwards ease;
}

#bar-text {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 3em;
    color: #e0e0e0;
    opacity: 0; /* Start hidden */
    font-family: "Satoshi";
    font-weight: bolder;
    cursor: pointer;
    animation: fadeInText 1s forwards ease;
    animation-delay: 1s; /* Delay to start after bar animation */
}

#login-button {
    position: absolute;
    background-color: #e0e0e0;
    color: #1f1f1f;
    top: 10px;
    left: 1390px;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: "Satoshi";
    font-weight: bolder;
    opacity: 0;
    transition: opacity 1s ease, background-color 0.2s ease, color 0.2s ease;
    pointer-events:none;
    z-index: 3;
}

#login-button:hover {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*login page styling*/
.login-container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.login-container h1 {
    margin-bottom: 30px;
    color: #1f1f1f;
    font-family: "Satoshi", sans-serif;
}

.login-container label {
    display: block;
    margin-top: 10px;
    color: #1f1f1f;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    color: #e0e0e0;
    background-color: #1f1f1f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #333;
}

body.login-page {
    background-color: #e0e0e0;
}

body.dashboard-page {
    background-color: #e0e0e0;
}

.dashboard-container{
    position: relative;
    top: 50px;
}